<div class='item' @ondblclick="OnDoubleClickCallback">
    <img class='item-image' src='@ImagePath' />
    <div class='item-name'>
        @Name
    </div>
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string ImagePath { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnDoubleClickCallback { get; set; }
}

